<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Hi Torsten{% block title %}Welcome!{% endblock %} {% block Muster %}sieh da!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>Hi Torsten 
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
